In [2]:
import requests_cache
session = requests_cache.CachedSession('yfinance.cache')
session.headers['User-agent'] = 'my-program/1.0'
ticker = yf.Ticker('msft aapl goog', session=session)
# The scraped response will be stored in the cache
ticker.actions

ModuleNotFoundError: No module named 'requests_cache'

In [1]:
import yfinance as yf

tickers = yf.Tickers('msft aapl goog')
# ^ returns a named tuple of Ticker objects

# access each ticker using (example)
tickers.tickers.MSFT.info
tickers.tickers.AAPL.history(period="1mo")
tickers.tickers.GOOG.actions

AttributeError: 'dict' object has no attribute 'MSFT'

In [3]:
import yfinance as yf
data = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  2 of 2 completed

In [14]:
data

            Adj Close                  Close                   High  \
                 AAPL         SPY       AAPL         SPY       AAPL
Date
2017-01-03  27.413372  207.534515  29.037500  225.240005  29.082500
2017-01-04  27.382690  208.769211  29.004999  226.580002  29.127501
2017-01-05  27.521944  208.603333  29.152500  226.399994  29.215000
2017-01-06  27.828764  209.349670  29.477501  227.210007  29.540001
2017-01-09  28.083660  208.658646  29.747499  226.460007  29.857500
...               ...         ...        ...         ...        ...
2017-04-24  34.048462  219.477432  35.910000  237.169998  35.987499
2017-04-25  34.259430  220.754486  36.132500  238.550003  36.224998
2017-04-26  34.057938  220.615677  35.919998  238.399994  36.150002
2017-04-27  34.084007  220.800720  35.947498  238.600006  36.040001
2017-04-28  34.050831  220.319565  35.912498  238.080002  36.075001

                              Low                   Open              \
                   SPY       AAPL         SPY       AAPL         SPY
Date
2017-01-03  225.830002  28.690001  223.880005  28.950001  225.039993
2017-01-04  226.750000  28.937500  225.610001  28.962500  225.619995
2017-01-05  226.580002  28.952499  225.479996  28.980000  226.270004
2017-01-06  227.750000  29.117500  225.899994  29.195000  226.529999
2017-01-09  227.070007  29.485001  226.419998  29.487499  226.910004
...                ...        ...         ...        ...         ...
2017-04-24  237.410004  35.794998  234.559998  35.875000  237.179993
2017-04-25  238.949997  35.967499  237.809998  35.977501  237.910004
2017-04-26  239.529999  35.845001  238.350006  36.117500  238.509995
2017-04-27  238.949997  35.827499  237.979996  35.980000  238.770004
2017-04-28  238.929993  35.817501  237.929993  36.022499  238.899994

               Volume
                 AAPL        SPY
Date
2017-01-03  115127600   91366500
2017-01-04   84472400   78744400
2017-01-05   88774400   78379000
2017-01-06  127007600   71559900
2017-01-09  134247600   46939700
...               ...        ...
2017-04-24   68537200  119209900
2017-04-25   75486000   76698300
2017-04-26   80164800   84702500
2017-04-27   56985200   57410300
2017-04-28   83441600   63532800

[81 rows x 12 columns]

In [11]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

# download dataframe
data = pdr.get_data_yahoo("SPY AAPL", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  2 of 2 completed

In [12]:
data

            Adj Close                  Close                   High  \
                 AAPL         SPY       AAPL         SPY       AAPL
Date
2017-01-03  27.413372  207.534515  29.037500  225.240005  29.082500
2017-01-04  27.382690  208.769211  29.004999  226.580002  29.127501
2017-01-05  27.521944  208.603333  29.152500  226.399994  29.215000
2017-01-06  27.828764  209.349670  29.477501  227.210007  29.540001
2017-01-09  28.083660  208.658646  29.747499  226.460007  29.857500
...               ...         ...        ...         ...        ...
2017-04-24  34.048462  219.477432  35.910000  237.169998  35.987499
2017-04-25  34.259430  220.754486  36.132500  238.550003  36.224998
2017-04-26  34.057938  220.615677  35.919998  238.399994  36.150002
2017-04-27  34.084007  220.800720  35.947498  238.600006  36.040001
2017-04-28  34.050831  220.319565  35.912498  238.080002  36.075001

                              Low                   Open              \
                   SPY       AAPL         SPY       AAPL         SPY
Date
2017-01-03  225.830002  28.690001  223.880005  28.950001  225.039993
2017-01-04  226.750000  28.937500  225.610001  28.962500  225.619995
2017-01-05  226.580002  28.952499  225.479996  28.980000  226.270004
2017-01-06  227.750000  29.117500  225.899994  29.195000  226.529999
2017-01-09  227.070007  29.485001  226.419998  29.487499  226.910004
...                ...        ...         ...        ...         ...
2017-04-24  237.410004  35.794998  234.559998  35.875000  237.179993
2017-04-25  238.949997  35.967499  237.809998  35.977501  237.910004
2017-04-26  239.529999  35.845001  238.350006  36.117500  238.509995
2017-04-27  238.949997  35.827499  237.979996  35.980000  238.770004
2017-04-28  238.929993  35.817501  237.929993  36.022499  238.899994

               Volume
                 AAPL        SPY
Date
2017-01-03  115127600   91366500
2017-01-04   84472400   78744400
2017-01-05   88774400   78379000
2017-01-06  127007600   71559900
2017-01-09  134247600   46939700
...               ...        ...
2017-04-24   68537200  119209900
2017-04-25   75486000   76698300
2017-04-26   80164800   84702500
2017-04-27   56985200   57410300
2017-04-28   83441600   63532800

[81 rows x 12 columns]

In [7]:
import pandas_datareader as pdr
pdr.get_data_fred('GS10')

            GS10
DATE
2016-09-01  1.63
2016-10-01  1.76
2016-11-01  2.14
2016-12-01  2.49
2017-01-01  2.43
2017-02-01  2.42
2017-03-01  2.48
2017-04-01  2.30
2017-05-01  2.30
2017-06-01  2.19
2017-07-01  2.32
2017-08-01  2.21
2017-09-01  2.20
2017-10-01  2.36
2017-11-01  2.35
2017-12-01  2.40
2018-01-01  2.58
2018-02-01  2.86
2018-03-01  2.84
2018-04-01  2.87
2018-05-01  2.98
2018-06-01  2.91
2018-07-01  2.89
2018-08-01  2.89
2018-09-01  3.00
2018-10-01  3.15
2018-11-01  3.12
2018-12-01  2.83
2019-01-01  2.71
2019-02-01  2.68
2019-03-01  2.57
2019-04-01  2.53
2019-05-01  2.40
2019-06-01  2.07
2019-07-01  2.06
2019-08-01  1.63
2019-09-01  1.70
2019-10-01  1.71
2019-11-01  1.81
2019-12-01  1.86
2020-01-01  1.76
2020-02-01  1.50
2020-03-01  0.87
2020-04-01  0.66
2020-05-01  0.67
2020-06-01  0.73
2020-07-01  0.62
2020-08-01  0.65
2020-09-01  0.68
2020-10-01  0.79
2020-11-01  0.87
2020-12-01  0.93
2021-01-01  1.08
2021-02-01  1.26
2021-03-01  1.61
2021-04-01  1.64
2021-05-01  1.62
2021-06-01  1.52
2021-07-01  1.32

In [16]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta


end = datetime.today()
start = end - timedelta(59)
tickerStrings = ['WBA', 'HD']
df = yf.download(tickers, group_by='Ticker', start=start ,end=end, interval='5m')

# create single level column names
df = df.stack(level=0).rename_axis(['Date', 'Ticker']).reset_index(level=1)

# function with calculations
def my_calculations(df):
    df['h-l']=abs(df.High-df.Low)
    df['h-pc']=abs(df.High-df['Adj Close'].shift(1))
    df['l-pc']=abs(df.Low-df['Adj Close'].shift(1))
    df['tr']=df[['h-l','h-pc','l-pc']].max(axis=1)
#     df['atr']=df['tr'].rolling(window=n, min_periods=n).mean()  # n is not defined in the question
    return df

# apply the function
df_updated = df.reset_index().groupby('Ticker').apply(my_calculations).sort_values(['Ticker', 'Date'])

AttributeError: 'Tickers' object has no attribute 'replace'